body {
	color:#3b4954;
	background:#dd694a;
}
nav {
	background:#3d3d3d;
}
h5 {
	margin-bottom:0;
}
#weatherBG {
	background:#000;
}
.weather-container {
	color:#fff;
}
.page-footer {
	text-align:center;
	background:#ec6e4c;
	color:#fff;
}
.page-footer a {
	color:#fff;
}
.page-footer a:hover {
	text-decoration:underline;
}