body {
	font-size:1.2rem;
	color:#31404b;
	background:rgb(233, 233, 233);
}
nav {
	background:#000000d9;
}
#weather_image_current img {
	
}
#weather_temp_current h4 {
	font-size:3.8rem;
	font-weight:600;
	padding-left: 14px;
}
.weather_temp h4{
	padding-left: 8px;
}
#weather_city_current h2 {
	text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.96);
}
.weather-wrapper-current {
	color:#fff;
}
.weather-wrapper-forecast {
	width:90%;
	margin:0 auto;
	text-align: center;
}
h4 {
	font-size:1.8rem;
	margin-top:0;
}
h2 {
	font-size:2.4rem;
	font-weight:600;
	margin:30px 0 10px 0;
}
h5 {
	margin-bottom:0;
}
.icon {
	height:14px;
	width:14px;
}
#weatherBG {
	background:#000;
}
.weather-container {
	color:#fff;
}
.parallax-container {
	height:420px;
}
#weather_city_current h4 {
	margin-top:24px;
}
.weather_humidity,.weather_wind,.weather_uv,.weather_date {
	
}
#forecast-container {
	margin-bottom:20px;
}
.forecast h4 {
	text-align:center;
}
.forecast-title {
	font-weight: 300;
	padding:125px 0;
	text-align: center;
}
.last-updated {
	color:#8b8a8a;
}
.day_of_week {
	font-weight:500;
	padding-top:10px;
	font-size:1.45rem;
}
.temp_unit {
	font-size:1rem;
	vertical-align: super;
}
.weather-wrapper-forecast {
	padding:0 0 40px 0;
	margin-bottom:45px;
}
.weather-wrapper-forecast div h4 {
	font-size:2.6rem;
}
.forecast-row {
	padding-top:40px;
	margin-bottom:0;
}
.page-footer {
	text-align:center;
	background:#ec6e4c;
	color:#fff;
}
.page-footer a {
	color:#fff;
}
.page-footer a:hover {
	text-decoration:underline;
}